@font-face {
  font-family: Roboto Slab;
  src: url(/font/roboto-slab/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: EB Garamond;
  src: url(/font/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}
body {
  font-family: Roboto Slab;
  background-color: #7d9d9c;
}

.navbar {
  background-color: #576f72;
}
.navbar .navbar-brand {
  font-size: 32px;
  font-family: EB Garamond;
}
.navbar a {
  color: #e4dccf;
}
.navbar button {
  background-color: #e4dccf;
}
.navbar .collapse ul li {
  padding-left: 1em;
}
.navbar .collapse ul li a {
  font-size: 24px;
}
.navbar .icon ul {
  list-style: none;
  display: flex;
}
.navbar .icon ul li {
  margin-top: 15px;
}
.navbar .icon ul li:nth-child(4) {
  padding-right: 2.5em;
}

.hero {
  padding-top: 10em;
  height: 1024px;
}
.hero .container h1 {
  color: #e4dccf;
}
.hero .container h5 {
  position: absolute;
  width: 246px;
  height: 27px;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: rgba(87, 111, 114, 0.5);
}
.hero .container .name {
  color: #ca3636;
}
.hero .container .type {
  text-shadow: 2px 2px #576f72;
}
.hero .container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: 40px;
  background-color: #f0ebe3;
  color: #576f72;
  border-color: #576f72;
  border-width: 3px;
  border-radius: 50px;
}
.hero .container button:hover {
  background-color: #1e1e1e;
}
.hero .container .col:nth-child(2) img {
  margin-top: -70px;
  margin-left: -50px;
  position: absolute;
  width: 349.49px;
  height: 356.25px;
  background: #576f72;
  box-shadow: 15px 2px 90px -20px #000000;
}

/* section aboutME */
.aboutMe {
  margin-top: 17em;
}
.aboutMe .container-fluid {
  /* Rectangle 2 */
  width: 1250px;
  height: 150px;
}
.aboutMe .container-fluid h1 {
  position: absolute;
  width: 412px;
  height: 165px;
  margin-top: -250px;
  margin-left: 5%;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 167px;
  color: rgba(228, 220, 207, 0.25);
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}
.aboutMe .container-fluid h1:hover {
  -webkit-animation: mymove 2s forwards;
          animation: mymove 2s forwards;
}
.aboutMe .container-fluid .container-fluid {
  position: absolute;
  width: 907px;
  height: 334px;
  margin-top: -150px;
  margin-left: 12%;
  background: #576f72;
  box-shadow: 0px 10px 45px 5px rgba(0, 0, 0, 0.8);
}
.aboutMe .container-fluid .container-fluid p {
  display: flex;
  margin: auto;
  align-items: center;
  width: 778px;
  height: 317px;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  color: #e4dccf;
}

/* Akhir section about me */
/* section Skill */
.skill .image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skill .image img {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: transparent;
}
.skill .row .col h1 {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  width: 1250px;
  height: 165px;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 167px;
  text-align: center;
  color: rgba(228, 220, 207, 0.25);
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-left: 150px;
  }
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-left: 150px;
  }
}/*# sourceMappingURL=main.css.map */