@font-face {
  font-family: Roboto Slab;
  src: url(/font/roboto-slab/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: EB Garamond;
  src: url(/font/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

body {
  font-family: Roboto Slab;
  background-color: #7d9d9c;
}

@import 'modules/navbar', 'modules/hero', 'modules/aboutme', 'modules/skills', 'modules/projects', 'modules/footer';

@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-left: 150px;
  }
}
@keyframes mymoveleft {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    margin-right: 150px;
  }
}
@keyframes mymovetop {
  0% {
    opacity: 0;
    padding-left: 50px;
  }

  100% {
    opacity: 1;
    padding-right: 50px;
  }
}

@keyframes myrotation {
  0% {
    transform: rotateY(140deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
/* mediaquerry */
